<div class="messageMy" data-userid = "{{userID}}">

    <div class="message__userPhoto" style="margin-right: 10px; margin-left: auto">
        <img src="{{userPhoto}}" alt="">
    </div>


    <div class="message_block">
        <!--<div class="message__userId">{{userId}}</div>-->
        <div class="message__text">{{text}}</div>
        <div class="message__time">{{time}}</div>
        <!--<div class="message__userID">{{userID}}</div>-->
    </div>
</div>

