<div class="message" data-userid = "{{userID}}">
    <div class="message_block">
        <!--<div class="message__userId"></div>-->
        <div class="message__text">{{text}}</div>
        <div class="message__time">{{time}}</div>
        <!--<div class="message__userID">{{userID}}</div>-->
    </div>
    <div class="message__userPhoto">
        <img src="{{userPhoto}}" alt="">
    </div>

</div>

